[MASTER]

disable=C0114,C0115,C0116,unused-private-member
ignore-patterns=test_.*?py,conftest.py

[BASIC]

module-rgx=_*[a-zA-Z]{1,30}$
function-rgx=[a-zA-Z]+$|(test)*_+[a-z]+[a-zA-Z]*$
variable-rgx=[a-zA-Z]+[a-zA-Z0-9]*$|_+[a-z]+[a-zA-Z0-9]*$|__
argument-rgx=[a-zA-Z]+[a-zA-Z0-9]*$|_+[a-z]+[a-zA-Z0-9]*$
class-rgx=_{0,1}[a-zA-Z]+$
method-rgx=_{0,2}[a-zA-Z]+_{0,2}$
attr-rgx=_{0,2}[a-zA-Z]+$
const-rgx=_{0,1}[a-zA-Z]+$

[FORMAT]

max-line-length=120

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=

[CLASSES]

exclude-protected=_asdict,_fields,_replace,_source,_make, _paramUpdated, _genericProtocol__inProtocol, _genericQSys__unitary
    ,_qResBlank__results, _qResBase__results, _qResBlank__average, _qResBase__average, _qResBlank__states, _qResBase__states
    ,_qResBlank__resultsLast, _qResBase__resultsLast, _qResBlank__statesLast, _qResBase__statesLast, _qResBlank__calculated, _qResBase__calculated, _finalise
    ,_named__setKwargs, _paramBoundBase__matrix, _genericQSys__dimension, _genericQSys__dimsBefore, _genericQSys__dimsAfter
    ,_stateBase__initialStateInput, _createAstate, _initialStateInput, _stateBase__initialState, _indicesForSweep
    ,_totalDim, _dimsBefore, _dimsAfter, _value, _freeEvol, _createUnitary, _gateImplements, _defCreateUnitary, _scale, _computeBase__calculate
    , _computeBase__compute, _currentTime, _timeDependency, _qBase__subSys, _timeBase__bound
    , _paramBoundBase__paramBound, _bound, _paramBoundBase__paramUpdated
    , _paramUpdatedToFalse, _paramBound, _boundTree

[SIMILARITIES]
min-similarity-lines = 7