matplotlib

pylint>=2.4.4
flake8>=3.8.4
mypy

pytest
pytest-cov
pytest-depends
anybadge

sphinx
nbsphinx
jupyter_sphinx
sphinx_tabs
sphinx_copybutton
recommonmark
sphinx_rtd_theme
pydata_sphinx_theme
